<% count = 0 %>
<% @snaps.each do |snap| %>
  <%= "<div class='row'>".html_safe if count == 0 || count == 4 %>
    <%= "<div class='tile' id='#{snap.id}'>".html_safe %>
      <div class='time'>
        <span><%= snap.duration %></span>
      </div>
    <%= image_tag (snap.image.url) %>
    </div>
  <%= "</div>".html_safe if count == 3 || count == 7 %>
  <% count +=1 %>
<% end %>
